.meal-details {
    width: auto;
    border: 1px solid gainsboro;
    margin: 20px;
}

.meal-details img {
    width: 280px;
    height: 280px;
    margin: 10px;
}

.meal-info {
    margin: 0px 10px;
    line-height: 10px;
}

.cart-btn {
    width: 100%;
    border: none;
    height: 30px;
}